{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <div style="display: flex; justify-content: center; align-items: center">
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <a href="{{ url_for('license_list') }}">
              <span class="mdi mdi-arrow-left-circle-outline"></span> </a
            >Add New License
          </h4>
          <form
            class="forms-sample"
            method="POST"
            action="{{ url_for('add_license') }}"
            style="color: #6c7293"
          >
            <div class="form-group row">
              <label for="app" class="col-sm-3 col-form-label">App</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="app"
                  id="app"
                  placeholder="App"
                  style="color: #6c7293"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-sm-3 col-form-label"
                >License</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="license"
                  name="license"
                  placeholder="License"
                  style="color: #6c7293"
                />
              </div>
            </div>

            <button type="submit" class="btn btn-primary me-2">
              Add Licence
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
