{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h1>Deleted Projects</h1>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
                <tr>
                  <th>Id</th>
                  <th>Title</th>
                  <th>Client</th>
                  <th>Status</th>
                  <th>Total Price</th>
                  
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for task in deleted_projects %}
                <tr>
                  <td>
                    <a href="{{ url_for('edit_task', task_id=task._id) }}" style="color: #6c7293;  text-decoration: none;">
                      {{task._id}}
                      <span class="mdi mdi-open-in-new" style="color: #0d6efd;"></span>
                    </a>
                    </div>
                  </td>
                  <td>{{ task.title[:12] }}{% if task.title|length > 12 %}...{% endif %}</td>

                  <td>{{ task.client.name }}</td>
                  <td>{% if task.status == False %} Pending {% else %} Completed {% endif %}</td>
                  <td>{{ task.price }} Pkr</td>
                  
                  <td>
                    <form method="GET" action="{{ url_for('edit_task', task_id=task._id) }}">
                      <button type="submit" class="btn btn-primary"><span class="mdi mdi-square-edit-outline"></span></button>
                    </form>
                    
                  </td>
                    <td>
                      <form method="GET" action="{{ url_for('add_subtask', task_id=task._id) }}">
                        <button type="submit" class="btn btn-primary"><span class="mdi mdi-plus"></span></button>
                      </form>
                      </td>
                      <td>
                        <form method="POST" action="{{ url_for('restore_project', task_id=task._id) }}">
                          <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to restore_project this project?')">
                            <span class="mdi mdi-restore"></span>
                          </button>
                        </form>
                      </td>
                      

                    
                     <!-- Link to add_subtask route -->
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
